.movies {
    overflow-x: hidden;
    height: 100vh;
}

.display {
    height: 700px;
    background: url('https://wallpapercave.com/wp/wp6581266.jpg') no-repeat;
    background-size: 100%;
    background-position: top;
    padding-inline: 6rem;
    overflow: hidden;
    transition: all .3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    width: 250px;
    margin-top: 12rem;
    transition: all .3s ease;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.buttons-container button {
    display: flex;
    padding: 9px 30px;
    font-size: 1rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 65, 65, 0.5);
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.play-btn svg, .mylist-btn svg {
    transform: scale(2);
}

.description-container {
    color: #fff;
    font-size: 1.2rem;
    width: 500px;
    line-height: 30px;
    margin-top: 2rem;
    transition: all .3s ease;
}

.slider {
    height: 170px;
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 4px;
}

.prev-btn, .next-btn {
    height: 100%;
    position: absolute;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    z-index: 2;
}

.prev-btn {
    display: none;
}

.prev-btn svg {
    transform: scale(2.6) rotate(180deg);
}

.next-btn {
    right: 0;
}

.next-btn svg {
    transform: scale(2.6);
}

.movie-btn {
    height: 100%;
    width: 300px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all .3s ease;
}

.movie-btn:focus {
    height: 230px;
    margin-top: -30px;
    margin-right: 6.7rem;
    z-index: 3;
}

.movie-btn img {
    height: 100%;
}

.type-indicator-container {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease;
}

.indicator-container {
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.indicator-container .ind {
    height: 2px;
    width: 20px;
    background-color: rgb(83, 83, 83);
    position: relative;
}