.search-description {
    margin-top: 10rem;
}

.title {
    color: #fff;
    margin-left: 30px;
    margin-bottom: 2rem;
    transition: all .5s ease;
    transform: translateY(50px);
    opacity: 0;
    pointer-events: none;
}

.title-active {
    color: #fff;
    margin-left: 30px;
    margin-bottom: 2rem;
    transition: all .5s ease;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.description {
    margin-left: 30px;
    color: #fff;
    width: 800px;
    transition: all .5s ease;
    transform: translateY(50px);
    opacity: 0;
    pointer-events: none;
}

.description-active {
    margin-left: 30px;
    color: #fff;
    width: 50%;
    transition: all .5s ease;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.search-results {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    row-gap: 4rem;
    justify-content: center;
}

.movie-result {
    height: 170px;
    width: 300px;
    cursor: pointer;
}